.SignInSections {
	padding: 2pc 0;

	.content {
		.photo {
			width: 700px;

			@media (max-width: 768px) {
				width: 500px;
			}
		}

		display: flex;
		align-items: center;
		justify-content: space-between;

		.SignUp {
			display: flex;
			gap: 10px;
			flex-direction: column;
			h1 {
        font-size: 30px;
        font-family: sans-serif;
			}
			p {
        font-size: 15px;
        font-weight: 700;
        color: rgb(92, 91, 91);
			}

			form {
				margin-top: 10px;
				display: flex;
				position: relative;
				flex-direction: column;
				gap: 30px;
				span{
					position: absolute;
					bottom: 6pc;
					right: 20px;
					font-size: 20px;
				}
				input {
					background: transparent;
					width: 330px;
					font-size: 18px;
					outline: none;
					border: none;
					border-bottom: 2px solid gray;
					padding: 10px 0;

					@media (max-width: 768px) {
						width: 100%;
						padding: 10px;
					}
				}
				.log {
					display: flex;
					align-items: center;
					gap: 5px;
					button {
						color: rgb(211, 57, 0);
						border-radius: 5px;
						background-color: white;
						font-size: 20px;
						border: none;
						padding: 16px 30px;
						cursor: pointer;
						transition: 0.5s;
						&:hover {
							background-color: rgb(211, 57, 0);
							color: white;
						}

						@media (max-width: 768px) {
							width: 100%;
							padding: 12px;
						}
					}
				}
			}

			@media (max-width: 768px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}
